<script setup lang="ts">
//import { useProductStore } from '@/stores/product';
//import type { ReceiptItem } from '@/type/ReceiptItem';
import { ref } from 'vue';
import { useProductStore } from '@/stores/product';
import { useReceiptIngStore } from '@/stores/receiptIng';

const productStore = useProductStore()
const receieveMoney = ref<number>(0)
const receiptIngStore = useReceiptIngStore()

function saveDialog(Money: number) {
    productStore.save(Money)
    productStore.cashDialog = false
}
</script>

<template>
    <v-dialog v-model="productStore.cashDialog" persistent width="auto">
        <v-card>
            <v-card-title class="text-h5">
                Received Amount
            </v-card-title>

            <v-card-text>

                <div>
                    
                    <div style="text-align: center;">
                        <v-text-field label="Enter something" v-model="receieveMoney">
                           
                        </v-text-field>
                    </div>
                    
                </div>
            
            </v-card-text>


            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green-darken-1" variant="text" @click="productStore.cashDialog = false">
                    ปิด
                </v-btn>
                <v-btn color="green-darken-1" variant="text" @click="saveDialog(receieveMoney)">
                    บันทึก
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>