<script setup lang="ts">
import { useHistory } from '@/stores/history'
import { useCheck } from '@/stores/check'
import { onMounted, ref, watch } from 'vue'

const historyStore = useHistory()
const checkStore = useCheck()
const initialData = ref([
  {
    id: 1,
    name: 'ผงชาเขียว',
    inStock: 5,
    Maximum: 10,
    Unit: 'กิโลกรัม',
    createdDate: new Date('01/01/2024')
  },
  {
    id: 2,
    name: 'ผงโกโก้',
    inStock: 5,
    Maximum: 10,
    Unit: 'กิโลกรัม',
    createdDate: new Date('01/01/2024')
  },
  {
    id: 3,
    name: 'น้ำตาล',
    inStock: 5,
    Maximum: 10,
    Unit: 'กิโลกรัม',
    createdDate: new Date('01/01/2024')
  },
  {
    id: 4,
    name: 'นมข้น',
    inStock: 5,
    Maximum: 10,
    Unit: 'กิโลกรัม',
    createdDate: new Date('01/01/2024')
  }
])

const showEditHistory = () => {
  console.log(historyStore.editHistory)
}

const search = ref('')
const filteredDetailCheckStock = ref([...initialData.value])

watch(search, (newValue) => {
  // If the search query is empty, show all data
  if (newValue === '') {
    filteredDetailCheckStock.value = [...initialData.value]
  } else {
    // Filter the data based on the search query
    filteredDetailCheckStock.value = initialData.value.filter((item) => {
      // Use optional chaining to safely access Date property
      return item.createdDate?.toString().toLowerCase().includes(newValue.toLowerCase())
    })
  }
})
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="text-h5">History</v-col>
      <v-col
        ><v-text-field
          v-model="search"
          prepend-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          dense
          class="bigger-text-field"
        ></v-text-field
      ></v-col>
    </v-row>
  </v-container>

  <v-table>
    <thead>
      <tr style="width: auto">
        <th class="text-left">Date</th>
        <th class="text-left">ID</th>
        <th class="text-left">Name</th>
        <th class="text-left">In stock</th>
        <th class="text-left">Maximum</th>
        <th class="text-left">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in filteredDetailCheckStock" :key="item.id">
        <td>
          {{
            item.createdDate.toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            })
          }}
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.inStock }}</td>
        <td>{{ item.Maximum }}</td>
        <td>{{ item.Unit }}</td>
      </tr>

      <tr v-for="item in historyStore.editHistory" :key="item.id">
        <td>
          {{
            item.editedDate.toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'numeric',
              day: 'numeric'
            })
          }}
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.inStock }}</td>
        <td>{{ item.Maximum }}</td>
        <td>{{ item.Unit }}</td>
      </tr>
    </tbody>
  </v-table>
</template>
<style scoped>
.bigger-text-field {
  height: 48px; /* Increase the height as needed */
}
</style>
