<script lang="ts" setup>
import { ref } from 'vue'
import { useMemberStore } from '@/stores/member'
import { useProductStore } from '@/stores/product'

const tel = ref('')
const memberStore = useMemberStore()
const productStore = useProductStore()
function onClick() {
  memberStore.searchMember(tel.value)
}
</script>
<template>
  <v-dialog v-model="productStore.memberDialog" persistent width="auto">
    <v-card height="120px" width="500px">
      <v-row no-gutters>
        <v-col cols="6"
          ><v-text-field
            v-model="tel"
            density="compact"
            variant="solo"
            label="Search member"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
            @click:append-inner="onClick"
            @keyup.enter="onClick"
            style="margin-top: 10px;margin-left: 10px;"
          ></v-text-field>
        </v-col>
        <v-col cols="6" style="text-align: center;margin-top: 10px;margin-top: 25px;">{{
          memberStore.currentMember ? memberStore.currentMember?.name : 'No Member'
        }}</v-col>
      </v-row>
    

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="green-darken-1" variant="text" @click="productStore.memberDialog = false">
        ปิด
      </v-btn>
      
      <v-btn
        color="green-darken-1"
        variant="text"
        @click="
          () => {
            productStore.memberDialog = false
            // productStore.clear()
          }
        "
      >
        บันทึก
      </v-btn>
    </v-card-actions>
</v-card>
  </v-dialog>
</template>
