<script setup lang="ts">
import type { Product } from '@/type/Product'
import { nextTick, ref } from 'vue'

import ProductList from './ProductList.vue'
import ReceiptTable from './ReceiptTable.vue'
import ReceiptDialog from './ReceiptDialog.vue'
import SearchDialog from './SearchDialog.vue'
import CashDialog from './CashDialog.vue'
import { useProductStore } from '@/stores/product'
import PrompayDialog from './PrompayDialog.vue'
import MemberCard from './MemberCard.vue'

const tab = ref(1)
const products1 = [
  {
    id: 1,
    name: 'Latte',
    price: 45.0,
    type: 1
  },
  {
    id: 2,
    name: 'Cocoa',
    price: 55.0,
    type: 1
  },
  {
    id: 3,
    name: 'Americano',
    price: 50.0,
    type: 1
  },
  {
    id: 4,
    name: 'Orange coffee',
    price: 55.0,
    type: 1
  },
  {
    id: 5,
    name: 'Thai tea',
    price: 45.0,
    type: 1
  },
  {
    id: 6,
    name: 'Green Tea',
    price: 55.0,
    type: 1
  },
  {
    id: 7,
    name: 'Blueberry Soda',
    price: 55.0,
    type: 1
  },
  {
    id: 8,
    name: 'Strawberry Soda',
    price: 55.0,
    type: 1
  },
  {
    id: 9,
    name: 'Orange Soda',
    price: 55.0,
    type: 1
  },
  {
    id: 10,
    name: 'Avocado Smoothie',
    price: 65.0,
    type: 1
  },
  {
    id: 11,
    name: 'Watermelon Smoothie',
    price: 65.0,
    type: 1
  },
  {
    id: 12,
    name: 'Mango Smoothie',
    price: 65.0,
    type: 1
  }
]
const products2 = [
  {
    id: 13,
    name: 'Chocolate Cake',
    price: 69.0,
    type: 2
  },
  {
    id: 14,
    name: 'Orange Cake',
    price: 69.0,
    type: 2
  },
  {
    id: 15,
    name: 'Coconut Cake',
    price: 69.0,
    type: 2
  },
  {
    id: 16,
    name: 'Cheesecake',
    price: 69.0,
    type: 2
  },
  {
    id: 17,
    name: 'Strawberry Cheesecake',
    price: 69.0,
    type: 2
  },
  {
    id: 18,
    name: 'Blueberry Cheesecake',
    price: 69.0,
    type: 2
  },
  {
    id: 19,
    name: 'Brownie',
    price: 49.0,
    type: 2
  },
  {
    id: 20,
    name: 'Honey Toast',
    price: 129.0,
    type: 2
  },
  {
    id: 21,
    name: 'Cookie',
    price: 35.0,
    type: 2
  },
  {
    id: 22,
    name: 'Banoffee',
    price: 49.0,
    type: 2
  },
  {
    id: 23,
    name: 'Waffle',
    price: 59.0,
    type: 2
  },
  {
    id: 24,
    name: 'Donut',
    price: 59.0,
    type: 2
  }
  
]
const products3 = [
  {
    id: 25,
    name: 'Vegetable Carving',
    price: 70.0,
    type: 3
  },
  {
    id: 26,
    name: 'Pork Burger',
    price: 70.0,
    type: 3
  },
  {
    id: 27,
    name: 'Breakfast',
    price: 139.0,
    type: 3
  },
  {
    id: 28,
    name: 'Ramen',
    price: 129.0,
    type: 3
  },
  {
    id: 29,
    name: 'Sushi',
    price: 119.0,
    type: 3
  },
  {
    id: 30,
    name: 'Curry Rice',
    price: 60.0,
    type: 3
  },
  {
    id: 31,
    name: 'Shrimp Tom Yum',
    price: 60.0,
    type: 3
  },
  {
    id: 32,
    name: 'Crab Fried Rice',
    price: 60.0,
    type: 3
  },
  {
    id: 33,
    name: 'papaya salad',
    price: 60.0,
    type: 3
  },
  {
    id: 34,
    name: 'grilled chicken',
    price: 70.0,
    type: 3
  },
  {
    id: 35,
    name: 'Sticky Rice',
    price: 20.0,
    type: 3
  },
  {
    id: 36,
    name: 'Rice',
    price: 20.0,
    type: 3
  },
  
]
const searchField = ref('')
const divReceiptItem = ref<HTMLElement | null>(null)
const productStore = useProductStore()
const selected = (p: Product) => {
  console.log('POS view', p)
  productStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItem.value) divReceiptItem.value.scrollTo(0, divReceiptItem.value.scrollHeight)
  })
}
function onClick() {
  productStore.showSearchDialog()
  productStore.searchItem(searchField.value)
}

function cash() {
  productStore.showCashDialog()
  productStore.receiptPos.paymentType = 'cash'
}
function prompay() {
  productStore.showPrompayDialog()
  productStore.receiptPos.paymentType = 'Prompay'
  productStore.receiptPos.receivedAmount = productStore.receiptPos.total
  productStore.receiptPos.change = 0
}

function printReceipt() {
  productStore.showReceiptDialog()
}

function printMemberDialog() {
  productStore.showmemberDialog()
}
</script>

<template>
  <v-sheet class="BG-img">
    <v-container>
      <v-row>
        <v-col cols="12" md="6" >
          <v-sheet min-width="30%" max-width="100%" max-height="825px" elevation="6" rounded="lg">
            <v-tabs v-model="tab" color="white" align-tabs="center" height="70" style="background-color: #ae917c;">
              <v-tab :value="1">DRINK</v-tab>
              <v-tab :value="2">DESSERTS</v-tab>
              <v-tab :value="3">FOOD</v-tab>
            </v-tabs>
            <v-window v-model="tab" style="justify-content: center;">
              <v-window-item :value="1">
                <ProductList :products="products1" @selected-product="selected"></ProductList>
              </v-window-item>
              <v-window-item :value="2">
                <ProductList :products="products2" @selected-product="selected"></ProductList>
              </v-window-item>
              <v-window-item :value="3">
                <ProductList :products="products3" @selected-product="selected"></ProductList>
              </v-window-item>
            </v-window>
          </v-sheet>
        </v-col>

        <v-col cols="12" md="6" >
          <v-container class="pa-0">
            <v-row>
              <v-col cols="12">
                <div ref="divReceiptItem" style="height: 300; overflow: auto">
                  <v-sheet
                    min-width="300"
                    max-width="100%"
                    height="350"
                    elevation="3"
                    class="overflow-auto"
                    rounded="lg"
                  >
                    <ReceiptTable></ReceiptTable>
                  </v-sheet>
                </div>
              </v-col>

              <!-- <v-col cols="12">
                <v-sheet min-width="300" max-width="600" height="50" elevation="3">
                  <v-text-field v-model="searchField" variant="underlined" label="Search" append-icon="mdi-search-web" 
                      @click:append="onClick"
                      @keyup.enter="onClick">
                    </v-text-field>
                </v-sheet>
              </v-col> -->

              <v-col cols="12">
                <v-sheet min-width="30%" max-width="100%" height="100%" elevation="3" rounded="lg">
                  <v-container style="font-size: larger">
                    <v-row min-width="50%" max-width="100%">
                      <v-table>
                        <thead>
                          <tr font-size="h3" class="text-h5">
                            <th>Detail</th>
                          </tr>
                        </thead>
                      </v-table> </v-row
                    ><br/>
                    <v-row>
                      <v-col cols="6" style="padding-bottom: 3%">จำนวนรวมทั้งหมด</v-col
                      ><v-col cols="6">{{ productStore.receiptPos?.totalAmount }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ยอดก่อนหัก</v-col
                      ><v-col cols="6">{{ productStore.receiptPos?.totalBefore }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ส่วนลดสมาชิก</v-col
                      ><v-col cols="6">{{ productStore.receiptPos?.memberDiscount }}</v-col>
                      <v-col cols="6" style="padding-bottom: 3%">ยอดรวม</v-col
                      ><v-col cols="6">{{ productStore.receiptPos?.total }}</v-col>
                    </v-row>
                  </v-container>
                </v-sheet>
              </v-col>

              <v-col cols="12">
                <v-sheet min-width="30%" max-width="100%"
                    elevation="3"
                    class="overflow-auto"
                    rounded="lg">
                  <v-container>
                    <v-row v-row justify-content="center">
                      <v-col cols="12" sm="4">
                        <v-btn block rounded="xl" @click="productStore.clear">ยกเลิก</v-btn>
                      </v-col>
                      <v-col>
                        <v-btn
                          block
                          rounded="xl"
                          style="background-color: rgb(40, 218, 40)"
                          @click="printReceipt()"
                          >ชำระเงิน/พิมพ์ใบเสร็จ</v-btn
                        >
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="4">
                        <v-btn
                          block
                          rounded="xl"
                          color="primary"
                          @click="productStore.showmemberDialog()"
                          >สมาชิก</v-btn
                        >
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-btn block rounded="xl" color="primary" @click="cash()">เงินสด</v-btn>
                      </v-col>
                      <v-col cols="12" sm="4">
                        <v-btn block rounded="xl" color="primary" @click="prompay()">พร้อมเพย์</v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
</v-sheet>
  <ReceiptDialog></ReceiptDialog>
  <SearchDialog></SearchDialog>
  <CashDialog></CashDialog>
  <PrompayDialog></PrompayDialog>
  <MemberCard></MemberCard>
</template>

<style scoped>
.custom-scrollbar {
  /* Set a fixed height for the container to enable scrolling */
  height: 300px;
  overflow-y: scroll;

  /* Customize the scrollbar track */
  scrollbar-color: #333333 #f5f5f5;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #733331;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(transparent,#73333130);
}
.BG-img{
  width: 100vw; 
  height: 100vh; 
  background-image: url('/Photo/logo/background-pos.png'); 
  background-size: cover; 
  background-position: center; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
</style>