<script setup lang="ts">
import type { Product } from '@/type/Product';
import { computed } from 'vue';

const props = defineProps<{
    product: Product
}>()

const emit = defineEmits<{
    selectedProduct: [Product] // selectedProduct(Product p)
}>()

const selected = function() {
    console.log("Card",props.product)
    emit('selectedProduct', props.product)
}
const isMoblie = computed(() => {
  // Add logic to determine if the screen is in mobile view
  // You can use window.innerWidth or any other method
  return window.innerWidth < 400; // Adjust the breakpoint as needed
})
const cardWidth = computed(() => (isMoblie.value ? "200px" : "auto")); 
const cardHeight = computed(() => (isMoblie.value ? "170px" : "auto"));
</script>

<template>
    <div :class="{ 'col-12': !isMoblie, 'col-md-6': isMoblie }"
    v-if="product.type === 1" cols="12" md="6">
        <v-card :style="{ width: cardWidth, height: cardHeight }" elevation="3" @click="selected" class="text-center" rounded="lg">
            <v-img :src="`./Img/Drink/Drink${product.id}.jpg`" height="auto" cover></v-img>
                <div style="text-align: center;">{{ product.name }} <br> 
                    {{ product.price }} บาท </div>
        </v-card>
           
    </div>
    <div :class="{ 'col-12': !isMoblie, 'col-md-6': isMoblie }"
    v-else-if="product.type === 2" cols="12" md="6">
        <v-card :style="{ width: cardWidth, height: cardHeight }" elevation="3" @click="selected" class="text-center" rounded="lg">
            <v-img :src="`./Img/Dessert/Dessert${product.id}.jpg`" height="auto" cover></v-img>
            <div style="text-align: center;">{{ product.name }} <br>
                {{ product.price }} บาท</div>
        </v-card>
    </div>
    
    <div :class="{ 'col-12': !isMoblie, 'col-md-6': isMoblie }"
    v-else-if="product.type === 3" cols="12" md="6">
        <v-card :style="{ width: cardWidth, height: cardHeight }" elevation="3" @click="selected" class="text-center" rounded="lg">
            <v-img :src="`./Img/Food/Food${product.id}.jpg`" height="auto" cover></v-img>
            <div style="text-align: center;">{{ product.name }}  <br>
                {{ product.price }} บาท</div>
        </v-card>
    </div>
</template>