<script setup lang="ts">
//import { useProductStore } from '@/stores/product';
//import type { ReceiptItem } from '@/type/ReceiptItem';
import { ref } from 'vue';
import { useProductStore } from '@/stores/product';

const productStore = useProductStore()
</script>

<template>
    <v-dialog v-model="productStore.prompayDialog" persistent width="auto">
        <v-card>
            <v-card-title class="text-h5">
                Received Amount
            </v-card-title>

            <v-card-text>

                <div>
                    
                    <div style="text-align: center;">
                        <v-img :src="`./Img/QRcode/QR_code_qrcode.png`"  width="300" ></v-img>
                        
                    </div>
                    
                </div>
            
            </v-card-text>


            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green-darken-1" variant="text" @click="productStore.prompayDialog = false">
                    ปิด
                </v-btn>
                <!-- <v-btn color="green-darken-1" variant="text" @click="() => {
                    productStore.prompayDialog = false
                    productStore.clear()
                }">
                    บันทึก
                </v-btn> -->
            </v-card-actions>

            

        </v-card>
    </v-dialog>
</template>