<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { useProductStore } from '@/stores/product';
import { useReceiptIngStore } from '@/stores/receiptIng';
import type { ReceiptItem } from '@/type/ReceiptItem';
import { ref } from 'vue';
const receiptIng = useReceiptIngStore()
const productStore = useProductStore()
const memberStore = useMemberStore()
</script>

<template>
    <v-dialog v-model="productStore.receiptDialog" persistent width="auto">
        <v-card>
            <v-card-title class="text-h5">
                Receipt
            </v-card-title>

            <v-card-text>

                <div>

                    <div style="text-align: center;">
                        <v-row align="center" justify="center" style="font-size: 25px;">
                            ID: {{ productStore.receiptPos?.id }}
                        </v-row>
                    </div>


                    <v-row>
                        <v-col>

                        </v-col>
                        <v-col style="text-align: left;">
                            Date: {{ productStore.receiptPos?.createdDate }}<br>
                            Member: <br>
                            User: <br>

                            รายการ<br>

                            <v-table >
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            Name
                                        </th>
                                        <th class="text-left">
                                            Price
                                        </th>
                                        <th class="text-left">
                                            Unit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in productStore.receiptItems" :key="item.id">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.unit }}</td>
                                        
                                        <td>{{ item.price  }}</td>
                                    </tr>
                                </tbody>
                                <br>
                            </v-table>

                            

                            จำนวน: {{ productStore.receiptPos?.totalAmount }}<br>
                            จำนวนเงินที่ได้รับ: {{ productStore.receiptPos.receivedAmount }}<br>
                            ยอดเงินรวม: {{ productStore.receiptPos?.total }}<br>
                            ส่วนลดสมาชิก: {{ productStore.receiptPos?.memberDiscount }}<br>
                            ยอดสุทธิ: {{ productStore.receiptPos?.total }}<br>
                            เงินทอน: {{ productStore.receiptPos?.change }}<br>
                            ประเภทการจ่ายเงิน: {{ productStore?.receiptPos.paymentType }}<br>
                        </v-col>
                        <v-col>

                        </v-col>
                    </v-row>

                </div>

            </v-card-text>


            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green-darken-1" variant="text" @click="productStore.receiptDialog = false">
                    ปิด
                </v-btn>
                <v-btn color="green-darken-1" variant="text" @click="() => {
                    productStore.receiptDialog = false
                    productStore.clear()
                    memberStore.clearCurrentMember()
                }">
                    บันทึก
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>