<script setup lang="ts">
import { useProductStore } from '@/stores/product';

const productStore = useProductStore()
const resultSearch = JSON.stringify(productStore.receiptItems)
</script>

<template>
    <v-dialog v-model="productStore.searchDialog" persistent width="auto">
        <v-card>
            <v-card-title class="text-h5">
                Result of search
            </v-card-title>

            <v-card-text>{{ resultSearch }}</v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <!-- <v-btn color="green-darken-1" variant="text" @click="productStore.searchDialog = false">
                    ปิด
                </v-btn> -->
                <v-btn color="green-darken-1" variant="text" @click="() => {
                    productStore.searchDialog = false
                }">
                    ปิด
                </v-btn>
            </v-card-actions>

        </v-card>
    </v-dialog>
</template>