<script setup lang="ts">
import router from '@/router'
// import IngredientsStoreList from '@/components/IngredientsStoreList.vue';
import { useIngredientStore } from '@/stores/ingredient'
import type { Ingredient } from '@/type/Ingredient'
import { nextTick, onMounted, provide, ref, type Ref } from 'vue'
import ReceiptIngreDetailTable from './ReceiptIngreDetailTable.vue'
import { useReceiptIngStore } from '@/stores/receiptIng'
import ReceiptIngDialog from './ReceiptIngDialog.vue'
import DetailIngView from '@/views/DetailIngView.vue'


function naviChecStock() {
  // ใช้ $router.push เพื่อนำทางไปยัง path '/ingStore'
  router.push('/checkStock')
}

const receiptIngStore = useReceiptIngStore()
const dialog = ref(false)
provide('receiptDialog', dialog)

const ingredients = ref<Ingredient[]>([])

const ingStore = useIngredientStore()



// const showReceipt = function () {
//     receiptIngStore.showReceiptDialog()
// }

onMounted(() => {
  fetchIngredients()
})

const fetchIngredients = () => {
  ingredients.value = ingStore.ingredients
}

// const headers = [
//   {
//     title: 'Id',
//     key: 'id',
//     value: 'id'
//   },
//   {
//     title: 'Name',
//     key: 'name',
//     value: 'name'
//   },
//   {
//     title: 'Price/Kg.',
//     key: 'price',
//     value: 'price'
//   },
//   {
//     title: 'Unit',
//     key: 'unit',
//     value: 'unit'
//   },
//   { title: 'Actions', key: 'actions', sortable: false }
// ]

// const onRowClick = (item: ReturnType<typeof useIngredientStore>) => {
//   console.log('Clicked on row:', item);
// }

// เรียกใช้ onRowClick โดยส่ง store ของ ingredient
//const ingredientStore = useIngredientStore();
// onRowClick(ingredientStore);;

const divReceiptIngItems = ref<HTMLElement | null>(null)

// const selected = (i: Ingredient) => {
//   console.log('Click: ' + i)
//   receiptIngStore.addReceiptItemIng(i)
//   nextTick(() => {
//     if (divReceiptIngItems.value) divReceiptIngItems.value.scrollTo(0, divReceiptIngItems.value.scrollHeight)
//   })
// }

const selected = (p: Ingredient) => {
  console.log('ProductView: ' + p)
  receiptIngStore.addReceiptItemIng(p)
  nextTick(() => {
    if (divReceiptIngItems.value)
      divReceiptIngItems.value.scrollTo(0, divReceiptIngItems.value.scrollHeight)
  })
}
</script>

<template>
  <div class="BG-img">
  <v-container>
    <v-row >
      <v-col cols="12" md="6" style="background-color: #e0e0e0">
        <v-container min-height="60" max-height="90px">
          <v-row>
            <v-col cols="12">
              <div style="height: 200; overflow: auto">
            <v-sheet min-width="500" max-width="1000" height="400" elevation="6">
              <ReceiptIngreDetailTable></ReceiptIngreDetailTable>
            </v-sheet>
          </div>
          </v-col>

          <v-col cols="12">
            <v-sheet min-width="500" max-width="1000" height="200" elevation="6" class="mt-4">
              <DetailIngView></DetailIngView>
            </v-sheet>
          </v-col>


            <v-col class="text-center" cols="12" style="padding-top: 5%;">
              <v-btn
                rounded
                @click="receiptIngStore.showReceiptIngDialog"
                class="mr-10 mt-6"
                rounded-xl
                color="green"
                prepend-icon="mdi-basket"
                width="200px"
                >ชำระเงิน</v-btn
              >
              <v-btn
                rounded
                @click="receiptIngStore.clear"
                rounded-xl
                class="mt-6"
                color="red"
                prepend-icon="mdi-delete-forever"
                width="200px"
                >ยกเลิก</v-btn
              >
            </v-col>

            <v-row style="margin: auto">
              <v-btn rounded @click="naviChecStock()" class="mx-auto mt-8">Back To ChecStock</v-btn>
            </v-row>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="12" md="6" style="background-color: #e0e0e0">
        <v-container>
          <v-sheet
            min-width="500"
            max-width="1000"
            height="900"
            elevation="6"
            class="overflow-auto"
          >
            <!-- <v-data-table :headers="headers" :items="ingredients" @click="selected"></v-data-table> -->

            <!-- <v-table>
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Name</th>
                <th class="text-left">In Stock</th>
                <th class="text-left">Unit</th>
                <th class="text-left">Price/Kg.</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in ingredients" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.inStock}}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.price}}</td>
              </tr>
            </tbody>
          </v-table> -->

            <v-table>
              <thead>
                <tr font-size="h3" class="text-h5">
                  <th>Stock</th>
                </tr>
                <tr style="width: auto">
                  <th class="text-left">ID</th>
                  <th class="text-left">Name</th>
                  <th class="text-left">In Stock</th>
                  <th class="text-left">Unit</th>
                  <th class="text-left">Price/Kg.</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in ingredients" :key="item.id" @click="selected(item)">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.Amount }}</td>
                  <td>{{ item.unit }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-sheet>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  </div>
  <ReceiptIngDialog></ReceiptIngDialog>
</template>
<style scoped>
.BG-img{
  width: 100vw; 
  height: 100vh; 
  background-image: url('/Photo/logo/background-pos.png'); 
  background-size: cover; 
  background-position: center; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
</style>