<script setup lang="ts">
import { useReceiptIngStore } from '@/stores/receiptIng'
// import { useIngredientStore } from '@/stores/ingredient';
const receiptIngStore = useReceiptIngStore()
</script>

<template>
  <div>
    <v-table>
      <thead>
        <tr font-size="h3" class="text-h5">
          <th>
            Order
          </th>
        </tr>
        <tr>
          <th>Id</th>
          <th rowspan="2">Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Unit</th>
          <th>Totle</th>
          <th>operration</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of receiptIngStore.receiptItemsIng" :key="item.id">
          <td>{{ index + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>
            <v-btn icon="mdi-minus" density="compact" @click="receiptIngStore.dec(item)"></v-btn
            >{{ item.amount
            }}<v-btn icon="mdi-plus" density="compact" @click="receiptIngStore.inc(item)"></v-btn>
          </td>
          <td>{{ item.unit }}</td>
          <td>{{ item.price * item.amount }}</td>
          <td>
            <v-btn
              icon="mdi-delete"
              density="compact"
              @click="
                () => {
                  receiptIngStore.removeReceiptItem(item)
                }
              "
            ></v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>
