<script setup lang="ts">
import router from '@/router'

function home() {
  router.push('/home')
}
</script>

<template>
  <v-sheet max-width="100%" max-height="100%" class="BG-img" cover height="1000">
    <v-container>
      <v-col>
        <v-row>
          <div>
            <v-sheet
              style="text-align: right; background-color: rgb(201, 173, 102)"
              width="1000"
              max-height="1000"
              elevation="6"
              text-align="center"
            >
              <div style="padding-right: 2%; padding-top: 2%">
                <v-btn style="text-align: left" @click="home()">Home</v-btn>
              </div>
              <div style="padding-left: 5%">
                <v-row heigth="60%">
                  <v-col cols="3">
                    <v-img
                      :src="`./Img/Credit/i.jpg`"
                      style="border-radius: 62% 78% 78% 0% / 0% 100% 0% 10%"
                    ></v-img>
                  </v-col>
                  <v-col
                    style="
                      text-align: left;
                      font-weight: 100;
                      font-family: 'Courier New', Courier, monospace;
                      padding-top: 5%;
                      padding-left: 20%;
                    "
                  >
                    Name: ศิวกร โชติพนัง<br />
                    Number: 65160084
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-img
                      :src="`./Img/Credit/i.jpg`"
                      style="border-radius: 62% 78% 78% 0% / 0% 100% 0% 10%"
                    ></v-img>
                  </v-col>
                  <v-col
                    style="
                      text-align: left;
                      font-weight: 100;
                      font-family: 'Courier New', Courier, monospace;
                      padding-top: 5%;
                      padding-left: 20%;
                    "
                  >
                    Name: ณัฐนิช วงษ์จิ<br />
                    Number: 65160162
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-img
                      :src="`./Img/Credit/i.jpg`"
                      style="border-radius: 62% 78% 78% 0% / 0% 100% 0% 10%"
                    ></v-img>
                  </v-col>
                  <v-col
                    style="
                      text-align: left;
                      font-weight: 100;
                      font-family: 'Courier New', Courier, monospace;
                      padding-top: 5%;
                      padding-left: 20%;
                    "
                  >
                    Name: ณัฐภัทร ดาปาน<br />
                    Number: 65160163
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-img
                      :src="`./Img/Credit/i.jpg`"
                      style="border-radius: 62% 78% 78% 0% / 0% 100% 0% 10%"
                    ></v-img>
                  </v-col>
                  <v-col
                    style="
                      text-align: left;
                      font-weight: 100;
                      font-family: 'Courier New', Courier, monospace;
                      padding-top: 5%;
                      padding-left: 20%;
                    "
                  >
                    Name: วรัญญา ย้อยขาว<br />
                    Number: 65160193
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="3">
                    <v-img
                      :src="`./Img/Credit/i.jpg`"
                      style="border-radius: 62% 78% 78% 0% / 0% 100% 0% 10%"
                    ></v-img>
                  </v-col>
                  <v-col
                    style="
                      text-align: left;
                      font-weight: 100;
                      font-family: 'Courier New', Courier, monospace;
                      padding-top: 5%;
                      padding-left: 20%;
                    "
                  >
                    Name: สุภิญญา ภู่งาม<br />
                    Number: 65160203
                  </v-col>
                </v-row>
              </div>
            </v-sheet>
          </div>
        </v-row>
        <!-- <v-row>
              <V-sheet> </V-sheet>
            </v-row> -->
      </v-col>
    </v-container>
  </v-sheet>
</template>

<style>
.BG-img {
  width: 100vw;
  height: 100vh;
  background-image: url('/Photo/logo/background-pos.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
