<script setup lang="ts">
import { useReceiptIngStore } from '@/stores/receiptIng'
// import { useIngredientStore } from '@/stores/ingredient';
const receiptIngStore = useReceiptIngStore()
</script>

<template>
  <div>
    <v-table>
      <thead>
        <tr font-size="h3" class="text-h5">
          <th>Detail</th>
        </tr>
      </thead>

      <br />
      <tbody>
        <tr>
          <td cols="6" style="padding-bottom: 0%">จำนวนรวมทั้งหมด</td>
          <td></td>
          <td cols="6">{{ receiptIngStore.receiptIng?.totalAmount }}</td>
        </tr>
        <tr>
          <td cols="6" md="3" style="padding-bottom: 1%">ยอดก่อนหัก</td>
          <td></td>
          <td cols="6" md="3">{{ receiptIngStore.receiptIng?.totalBefore }}</td>
        </tr>
        <tr>
          <td cols="6" md="3" style="padding-bottom: 1%">ยอดรวม</td>
          <td></td>
          <td cols="6" md="3">{{ receiptIngStore.receiptIng?.total }}</td>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>
