<script setup lang="ts">

import { ref } from 'vue';


type Employee = {
  id: number;
  name: string;
  position: string;
  Tel: string;
};

const Employees = ref<Employee[]>([
  { id: 1, name: 'Elon Musk', position: 'Manager', Tel: '084-164-2293' },
  { id: 2, name: 'Sam Altman', position: 'Barista', Tel: '082-549-2284' },
  { id: 3, name: 'Mark Zuckerberg', position: 'Barista', Tel: '082-989-4222' },
  { id: 4, name: 'Bill Gates', position: 'Patissier', Tel: '080-992-8969' },
  { id: 5, name: 'Bernard Arnault', position: 'Patissier', Tel: '097-197-9228' },
  { id: 6, name: 'Ariana Grande', position: 'Hostesses', Tel: '090-994-4965' },
  { id: 7, name: 'Bruno Mars', position: 'Chef', Tel: '088-978-9641' },
  { id: 8, name: 'Taylor Swift', position: 'Chef', Tel: '082-424-4789' },
  { id: 9, name: 'Harry Styles', position: 'Cashier', Tel: '091-963-5151' },
  { id: 10, name: 'Anntonia Porsild', position: 'Cashier', Tel: '090-964-5598' }
]);



const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id',

    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Position',
        key: 'position',
        value: 'position'
    },
    
    {
        title: 'Tel',
        key: 'Tel',
        value: 'Tel'
    }, 
    { title: 'Actions', key: 'actions', sortable: false }
]
function editItem() {

}

function deleteItem() {

}
// const formatDate = (date: Date) => {
//     const options: Intl.DateTimeFormatOptions = {
//         year: 'numeric',
//         month: '2-digit',
//         day: '2-digit',
//     };
//     return new Intl.DateTimeFormat('en-US', options).format(date);
// };
</script>

<template>
    <div max-width="1280px" max-height="720px" class="BG-img">
        <v-container>
            <v-row>
                <v-col style="background-color: #d4ccc4">

                    <v-sheet max-width="100%" max-height="100%" elevation="6" >
                        <div>
                            <v-data-table-virtual :headers="headers" :items=" Employees" height="500" item-value="name">
                                <template v-slot:top>
                                    <v-toolbar flat>
                                        <v-toolbar-title class="text-center">EMPLOYEE</v-toolbar-title>



                                    </v-toolbar>
                                </template>

                                <template v-slot:[`item.actions`]="{  }">
                                    <v-icon size="small" class="me-2" @click="editItem()"> mdi-pencil </v-icon>
                                    <v-icon size="small" @click="deleteItem()"> mdi-delete </v-icon>
                                </template>
                            </v-data-table-virtual>
                        </div>

                    </v-sheet>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<style scoped>
.BG-img{
    width: 100vw; 
    height: 100vh; 
    background-image: url('/Photo/logo/background-pos.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
</style>

