<script setup lang="ts">

</script>

<template>
  <v-main class="d-cover" style=" widows: 1000px; height: 1000px; ">

    <div class="background-container">
      <div style="padding-left: 40%; padding-top: 10%">
        
            <v-img class="bg-white" width="300" :aspect-ratio="1" src="./Photo/logo/Logo.png"></v-img>
        </div>
      <!-- <div class="head-text">Welcome to D COFFEE</div>
      <div class="text">ยินดีต้อนรับสู่เว็บไซต์ของพวกเรา Jo Web Pro<br>
        เรามุ่งเน้นที่จะพยายามทำเว็บไซต์นี้มาให้ดีที่สุดที่พวกเราจะทำได้ เราหวังว่าทุกคนจะพึงพอใจในเว็บไซต์ของพวกเรา
        ขอบคุณครับ
      </div><br><br>
      <v-btn class="navigation-link" rounded="xl" size="x-large">
            <router-link to="/pos" class="navigation-link">Point of sell</router-link>
        </v-btn>
      <v-btn class="button-28" rounded="xl" size="x-large" :to="{ name: 'login' }">
        View Product
      </v-btn> -->
    </div>
  </v-main>
</template>
  
<!-- <style scoped>
.background-container {
  background-image: url('/Photo/logo/Background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 812px;
}

.navigation-link {
  text-decoration: none;
}

.head-text {
  color: rgb(255, 255, 255);
  font-size: 84px;
  font-weight: bold;
  font-family: 'SFTHonuri-Bold';
  /*font-family: 'Ink Free';*/
}

.text {
  color: #f4f4f4;
  font-size: 24px;
  font-family: 'SFTHonuri-Bold';
}

.button1 {
  background-color: #285774;
  color: #af9173;
}

.button-28 {
  appearance: none;
  /* background-color: transparent; */
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}</style> -->
