<script setup lang="ts">

import { ref } from 'vue';
type Member = {
    id: number
    name: string
    Tel: string
    createdDate: Date;
}

const Members = ref<Member[]>([
    { id: 1, name: 'Kurt Cobain', Tel: '091-111-2222', createdDate: new Date('01/01/2024') },
    { id: 2, name: 'Axl Rose', Tel: '091-122-2266', createdDate: new Date('01/01/2024') },
    { id: 3, name: 'Freddie Mercury', Tel: '091-333-2222', createdDate: new Date('01/01/2024') },
    { id: 4, name: 'Jimi Hendrix', Tel: '081-121-2252', createdDate: new Date('01/01/2024') }
    ,
    { id: 5, name: 'Anthony Kiedis', Tel: '087-555-6666', createdDate: new Date('01/01/2024') }
    ,
    { id: 6, name: 'Jimi Hendrix', Tel: '095-648-9898', createdDate: new Date('01/01/2024') }
    ,
    { id: 7, name: 'Liam Gallagher', Tel: '098-654-1236', createdDate: new Date('01/01/2024') }
    ,
    { id: 8, name: 'Noel Gallagher', Tel: '091-666-2222', createdDate: new Date('01/01/2024') }
    ,
    { id: 9, name: 'Billie Armstrong', Tel: '081-789-2222', createdDate: new Date('01/01/2024') }
    ,
    { id: 10, name: 'Kirk Hammett', Tel: '081-999-2222', createdDate: new Date('01/01/2024') }

])

const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id',

    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Tel',
        key: 'Tel',
        value: 'Tel'
    }, {
        title: 'Date ',
        key: 'createdDate',
        value: 'createdDate'
    }, { title: 'Actions', key: 'actions', sortable: false }
]
function editItem() {

}

function deleteItem() {

}
const formatDate = (date: Date) => {
    const options: Intl.DateTimeFormatOptions = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
    };
    return new Intl.DateTimeFormat('en-US', options).format(date);
};
</script>

<template>
    <div max-width="1280px" max-height="720px" class="BG-img">
        <v-container>
            <v-row>
                <v-col style="background-color: #d4ccc4"  >

                    <v-sheet max-width="100%" max-height="100%" elevation="6" >
                        <div>
                            <v-data-table-virtual :headers="headers" :items="Members" height="500" item-value="name">
                                <template v-slot:top>
                                    <v-toolbar flat>
                                        <v-toolbar-title class="text-center">MEMBER</v-toolbar-title>



                                    </v-toolbar>
                                </template>

                                <template v-slot:[`item.actions`]="{  }">
                                    <v-icon size="small" class="me-2" @click="editItem()"> mdi-pencil </v-icon>
                                    <v-icon size="small" @click="deleteItem()"> mdi-delete </v-icon>
                                </template>
                                <!-- Show formatted date -->
                                <template v-slot:[`item.createdDate`]="{ item }">
                                    {{ formatDate(item.createdDate) }}
                                </template>


                            </v-data-table-virtual>
                        </div>

                    </v-sheet>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<style scoped>

.BG-img{
    width: 100vw; 
    height: 100vh; 
    background-image: url('/Photo/logo/background-pos.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  </style>