<script setup lang="ts">
import type { Ingredient } from '@/type/Ingredient';


const props = defineProps<{
    ingredient: Ingredient[]
}>()

const emit = defineEmits<{
    selectedIngredient: [Ingredient] 
}>()

// const selected = function() {
//     console.log('ProductCard' + )
//     emit('selectedIngredient', )
// }
</script>

<template>
    <div></div>
    <!-- <v-sheet width="170" height="170" elevation="3" @click="selected">
        <v-img :src="`./img/coffees/product${ingredient.id}.png`" height="145" cover></v-img>
        <div style="text-align: center;">{{ ingredient.name }} {{ ingredient.price }} บาท</div>
    </v-sheet> -->
</template>