<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, ref, type Ref } from 'vue'
import { useRouter } from 'vue-router'

const authStore = useAuthStore()
const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const isMouseOverDrawer = ref(false)
const router = useRouter() // เพิ่มการใช้งาน router

const handleMouseEnter = () => {
  isMouseOverDrawer.value = true
}

const handleMouseLeave = () => {
  isMouseOverDrawer.value = false
}

const handleLogout = () => {
  authStore.logout()
  router.push('/login') // เด้งไปยังหน้า Login
}
function showLogout(Value: boolean){
  if(!Value){
    return false
  }else{
    return true
  }
}
</script>
<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    expand-on-hover
    style="background-color: #ae917c"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave"
    scroll="0"
    permanent
  >
    <v-list-item
      prepend-avatar="./Photo/logo/OIP.jpg" padding-bottom="2%"
      :title="authStore.currentUser.fullName" 
    >
    
    <v-icon
        v-model="rail"
        v-if="isMouseOverDrawer"
        icon="mdi-logout"
        style="position: absolute;
              top: 0;
              right: 0;
              margin-top: 10px;
              padding-right: 10px;"
        value="Logout"
        @click="handleLogout"
      ></v-icon></v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>

      <v-list-item class="custom"
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        :to="{ name: 'home' }"
      ></v-list-item>
      <v-list-item class="custom"
        prepend-icon="mdi-storefront-check"
        title="Check Stock"
        value="checkStock"
        :to="{ path: '/checkStock' }"
      ></v-list-item>
      <v-list-item class="custom"
        prepend-icon="mdi-store"
        title="POS"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <!-- <v-list-item
        prepend-icon="mdi-account"
        title="Login"
        value="login"
        :to="{ name: 'login' }"
      ></v-list-item> -->
      <v-list-item  class="custom"
        prepend-icon="mdi-account"
        title="member"
        value="member"
        :to="{ name: 'member' }"
      ></v-list-item>
      <v-list-item class="custom"
        prepend-icon="mdi-account-group-outline"
        title="employee"
        value="employee"
        :to="{ name: 'employee' }"
      ></v-list-item>


    </v-list>
  </v-navigation-drawer>
</template>

<style>
.v-navigation-drawer .custom {
  background-color: #FFC26F;
  border-radius: 20px;
}

.v-navigation-drawer .custom:hover {
  background-color: #ffffff;
  color: #C38154;
}
</style>
