<script setup lang="ts">
//import { inject, type Ref } from 'vue'

//const rail = inject<Ref<Boolean>>('rail')
</script>

<template>
  <v-app-bar
    
    padding-top="5%"
    style="height: 70px;background-color: #C38154;"
    :aspect-ratio="0.2"
    >
      <v-img src="/Photo/logo/Logo.png" style="max-width: 70px; max-height: 70px" />
      <v-app-bar-title
        style="
          font-size: 2rem; /* ปรับขนาด font size ตามที่ต้องการ */
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-weight: bold;
          text-shadow: 2px 2px 5px white;
          margin-right: 40px; /* ปรับ margin-right ตามที่ต้องการ */
          letter-spacing: 100; /* ปรับ letter-spacing ตามที่ต้องการ */
        "
      >
        D-coffee
      </v-app-bar-title>

    <v-spacer></v-spacer>
  </v-app-bar>
</template>

<!-- image="https://th-images.hellomagazine.com/wp-content/uploads/2021/11/09140433/coffee1280-3-1.jpg" -->
