<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useUserDataStore } from '@/stores/userData';
import { ref, provide } from 'vue';
import { useRouter } from 'vue-router';

const form = ref(false)
const username = ref('')
const password = ref('')
const visible = ref(false)
const router = useRouter()
const userDataStore = useUserDataStore()
const authStore = useAuthStore()
provide('username', username)
provide('password', password)
// function onSubmit(username: string,password: string) {
//   authStore.checkUser(username,password)
// }
async function onSubmit(username: string, password: string): Promise<boolean> {
  // Your authentication logic here, e.g., API call, etc.
  const isAuthenticated = await authStore.checkUser(username, password);
  console.log(isAuthenticated)
  return isAuthenticated;
}

async function handleSignIn() {
  const authenticationResult = await onSubmit(username.value, password.value);
  if (authenticationResult) {
    router.push('pos');
  }
}
</script>

<template>  
  
  <v-container style="background-color: black;">
      <video class="video" autoplay loop>
        <source src="/Photo/logo/coffee-beans_background.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    <v-row style="padding-bottom: 25%;">   
      <v-card class="mx-auto px-6 py-4 customCard" width="400"
        elevation="8" rounded="xl">

        <h1 style="text-align: center;">Login</h1>
          <div class="text-subtitle-1 text-medium-emphasis">Username</div>

          <v-text-field 
            v-model="username" 
            density="compact" 
            placeholder="Username"
            prepend-inner-icon="mdi-account"
            variant="outlined" 
            :rules="[(v) => !!v || 'Field is required']">
          </v-text-field>

          <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
            Password
            <a class="text-caption text-decoration-none text-blue" href="#" rel="noopener noreferrer" target="_blank" style="display: flex; justify-content: space-between;">
                        Forgot login password?</a>
          </div>
          
          <v-text-field 
            v-model="password" 
            :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'" 
            :type="visible ? 'text' : 'password'"
            density="compact" 
            placeholder="Enter your password" 
            prepend-inner-icon="mdi-lock-outline" 
            variant="outlined"
            @click:append-inner="visible = !visible" 
            :rules="[(v) => !!v || 'Field is required']">
          </v-text-field>

          <div style="margin: 10px; width: 40%;">
            <label style="display: flex; align-items: center;">
              <input type="checkbox" style="margin-right: 8px; width: 20px; height: 20px;" />
              Remember me
            </label>
          </div>

          <v-btn class="btn" width="100%" block size="large" variant="elevated" @click="handleSignIn">
            Sign In
          </v-btn>

          <div class="register-link" style="margin-top: 10px;">
            <p>Don't have an account? 
              <a href="#" style="text-decoration: none; color: black;">Register</a> 
            </p>
            
          </div>
        </v-card>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn {
  appearance: none;
  /* background-color: transparent; */
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.btn2:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.customCard{
  margin-top: 15%; 
  background: transparent; 
  border: 3px solid rgba(0, 0, 0, 0.8); 
  backdrop-filter: blur(30px);
}
</style>