<script setup lang="ts">
import { RouterLink, RouterView, useRoute } from 'vue-router'

import { ref } from 'vue';
import { provide } from 'vue';
import MainMenu from './components/MainMenu.vue';
import MainFooter from './components/MainFooter.vue';
import MainAppBar from './components/MainAppBar.vue'
import { useAuthStore } from './stores/auth';
const rail = ref(true)
const drawer = ref(true)

provide('rail', rail)
provide('drawer', drawer)
const authStore = useAuthStore()
const route = useRoute()
const isLoginView = route.name === 'login';

</script>

<template>
  <v-layout class="rounded rounded-md"  style="flex-direction: column;" width="1280px" height="720px">
    <MainAppBar></MainAppBar>
    <main-menu v-model="authStore.showDrawer" style="padding-top: 1%;"></main-menu>


    <v-main class="d-flex align-center justify-center" style="min-height: 720px;">
      <router-view></router-view>
    </v-main>

    <MainFooter v-if="!isLoginView"></MainFooter>
  </v-layout>
</template>

<style>
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #733331;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #817276;
  border-radius: 20px;
}
</style>
